.csnApp {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.csnHeader {
}

.csnSubTitle {
    margin: 0;
    padding: 0.4em;
    color: hsl(200deg, 40%, 60%);
}

.csnTitle {
    text-shadow: 4px 2px 2px hsl(200deg, 100%, 40%, 0.8);
    background: -webkit-linear-gradient(hsl(200deg, 89%, 71%) 0%, hsl(19deg, 100%, 64%) 44%, hsl(200deg, 85%, 67%) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    margin: 0;
    letter-spacing: 10px;
}

.csnContent {
    width: 90%;
    min-height: 70vh;
    background-color: hsla(30, 100%, 20%, 0.84);
    box-shadow: 0px 10px 10px hsl(0, 0%, 50%);
    margin: auto;
    border-radius: 0.5em;
    padding: 2em;
    color: white;
}

.csnControlsPanel {
    display: flex;
    justify-content: space-between;
}

.streamTestPanel {
    border-bottom: 1px solid hsl(0, 0%, 50%);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.searchResult {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.searchResultName {
    width: 22%;
    padding: 0.2em 0.5em;
    margin: 0.3em;
    background-color: hsl(20deg, 95%, 40%);
    background-image: linear-gradient(transparent 0%, hsl(19deg, 100%, 60%) 50%, transparent 100%);
    box-shadow: 4px 0px white;
    box-sizing: border-box;
    border-radius: 1em; 
    cursor: default;
    user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.searchResultName:hover {
    background-color: hsl(19deg, 100%, 44%);
}

.searchResultName:active {
    box-shadow: initial;
}

.searchResultDesc {
    flex: 1 0;
    text-align: left;
    padding: 0.5em;
}

.csnJSON {
    background-color:hsla(30, 100%, 10%, 1);
    border: 2px solid black;
    color: white;
    padding: 1em;
    border-radius: 1em;
    white-space: pre-wrap;
    margin-top: 0.5em;
}

.csnSchemaPage {
    text-align: left;
}

.csnSchemaContent {
    display: flex;
    flex-direction: row;
}

.csnSchemaDisplay {
    width: 70%;
}

.csnSchemaControls {
    border: 2px solid hsl(13deg, 100%, 50%);
    background-color: hsl(30deg, 40%, 30%);
    border-radius: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    padding: 0.5em;
    width: 30%;
}

.sorgTypeSearchPanel {
    text-align: center;
}

.csnSchemaSettingRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3em;
}

.csnSchemaSettingLabel {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 50%;
}

.csnSchemaSettingControl {
    width: 50%;
}

.csnSchemaProperty {
    font-weight: bold;
    display: flex;
}

.csnSchemaExpander {
    cursor: pointer;
    user-select: none;
}

.csnSchemaLevel {
    padding-left: 0.2em;
    border-left: 1px dashed white;
}

.csnSchemaLevel1 {
    margin-left: 1em;
}
.csnSchemaLevel2 {
    margin-left: 2em;
}
.csnSchemaLevel3 {
    margin-left: 3em;
}
.csnSchemaLevel4 {
    margin-left: 4em;
}

.csnTextEllipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.csnJSONEditor {
    display: flex;
    position: relative;
    margin-top: 1em;
}

.csnJSONPropEditor {
    flex: 1 1;
    width: 33%
}

.csnJSONEditorDisplay {
    flex: 2 0;
    width: 66%;
    background-color: black;
    border-radius: 0.5em;
    border: 1px solid white;
    padding: 0.5em;
    margin-left: 1em;
}

.csnObjectTypeSearch {
    width: 30%;
}

.csnModelContent {
    display: flex;
    flex-direction: row;
}

.csnModelDisplay {
    width: 60%;
}

.csnModelControls {
    border: 2px solid hsl(13deg, 100%, 50%);
    background-color: hsl(30deg, 40%, 30%);
    border-radius: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    padding: 0.5em;
    width: 40%;
}

.csnJSONEditorModelDisplay {
    width: 100%;
    background-color: black;
    border-radius: 0.5em;
    border: 1px solid white;
    padding: 0.5em;
    margin-left: 1em;
    min-height: 30em;
    color: white;
}

.csnJSONEditorModelDisplay:focus {
    background-color: white;
    color: black;
}

.csnModelTabs {
    display: flex;
    border-bottom: 1px solid hsl(13deg, 100%, 50%);
    padding-top: 0.5em;
}

.csnModelTab {
    background-color: hsl(13deg, 70%, 30%);
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.4em 1em;
    margin-right: 0.2em;
    user-select: none;
    cursor: default;
}

.csnModelTabSelected {
    background-color: hsl(13deg, 100%, 50%);
}

.csnMarkdownDisplay {
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: black;
    border-radius: 0.5em;
    border: 1px solid white;
    padding: 0.5em 80px 0.5em 0.5em;
    margin-left: 1em;
}

.csnClipboard {
    position: absolute;
    z-index: 10;
    width: 32px;
    height: 32px;
    right: 20px; 
    top: 15px;
}

.csnModelTitle {
    color: white;
    background-color: hsla(30, 100%, 10%, 1);
    padding-left: 0.25em;
    border: 1px solid darkgrey;
    border-radius: 0.5em;
}

.csnModelDescription {
    width: 100%;
    color: white;
    padding-left: 0.25em;
    background-color: hsla(30, 100%, 10%, 1);
    border: 1px solid darkgrey;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.csnModelTitle:focus {
    background-color: white;
    color: black;
}

.csnModelDescription:focus {
    background-color: white;
    color: black;
}

.csnPackageJSONEditor {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.csnPackageJSONControls {
    padding: 0.5em;
    display: flex;
}

.csnPackageJSONViewer {
    position: relative;
}

.csnModelDisplayHeading {
    display: flex;
}

.csnModelDispayHeadingControls {
    margin-left: auto;
}

.csnJSONEditorErrors {
    display: flex;
    margin-left: 1em;
    margin-top: 0.2em;
    background-color: black;
    border: 1px solid red;
    border-radius: 0.5em;
    color: red;
    padding: 0.5em;
}

.csnJSONEditorContainer {
    display: flex;
    flex-direction: column;
}