.csnApp {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.csnHeader {
}

.csnSubTitle {
    background: -webkit-linear-gradient(hsl(19deg, 100%, 64%) 0%, hsl(19deg, 100%, 64%) 44%,  hsl(13deg, 100%, 50%) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0.4em;
}

.csnTitle {
    background: -webkit-linear-gradient(hsl(19deg, 100%, 64%) 0%, hsl(19deg, 100%, 64%) 44%,  hsl(13deg, 100%, 50%) 44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    margin: 0;
}

.csnContent {
    width: 80%;
    min-height: 70vh;
    background-color: hsla(30, 100%, 20%, 0.84);
    box-shadow: 0px 10px 10px hsl(0, 0%, 50%);
    margin: auto;
    border-radius: 0.5em;
    padding: 2em;
    color: white;
}

.csnControlsPanel {
    text-align: left;
}

.streamTestPanel {
    border-bottom: 1px solid hsl(0, 0%, 50%);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.searchResult {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.searchResultName {
    width: 22%;
    padding: 0.2em;
    margin: 0.3em;
    background-color: orangered;
    background-image: linear-gradient(transparent 0%, hsl(19deg, 100%, 60%) 50%, transparent 100%);
    box-shadow: 4px 0px white;
    box-sizing: border-box;
    border-radius: 1em; 
    cursor: default;
    user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.searchResultName:hover {
    background-color: orange;
}

.searchResultName:active {
    box-shadow: initial;
}

.searchResultDesc {
    flex: 1 0;
    text-align: left;
    padding: 0.5em;
}

.csnJSON {
    background-color:hsla(30, 100%, 10%, 1);
    border: 2px solid black;
    color: white;
    padding: 1em;
    border-radius: 1em;
    white-space: pre-wrap;
    margin-top: 0.5em;
}

.csnSchemaPage {
    text-align: left;
}

.csnSchemaContent {
    display: flex;
    flex-direction: row;
}

.csnSchemaDisplay {
    width: 70%;
}

.csnSchemaControls {
    border: 2px solid hsl(13deg, 100%, 50%);
    background-color: hsl(30deg, 40%, 30%);
    border-radius: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    padding: 0.5em;
    width: 30%;
}

.sorgTypeSearchPanel {
    text-align: center;
}

.csnSchemaSettingRow {
    display: flex;
    flex-direction: row;
}

.csnSchemaSettingLabel {
    width: 60%;
}

.csnSchemaProperty {
    font-weight: bold;
}

.csnSchemaExpander {
    cursor: pointer;
    user-select: none;
}

.csnSchemaLevel {
    padding-left: 0.2em;
    border-left: 1px dashed white;
}

.csnSchemaLevel1 {
    margin-left: 1em;
}
.csnSchemaLevel2 {
    margin-left: 2em;
}
.csnSchemaLevel3 {
    margin-left: 3em;
}
.csnSchemaLevel4 {
    margin-left: 4em;
}

.csnTextEllipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}