@font-face {
  font-family: "Azulejo";
  src: url("/fonts/Lato-Regular.ttf");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Azulejo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-size: 100% 200vh;
  background-image: linear-gradient(0deg, transparent, hsl(0deg, 0%, 60%) 50%, transparent);
  background-repeat: no-repeat;
  background-position: 0px 3em;
}

a {
  color: orange;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1em;
}

input, select, textarea {
  font-size: 1.1em;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

input[type=text] {
  line-height: 1.5em;
  border-radius: 0.5em;
  border: 0;
  padding-left: 0.5em;
  margin: 0.1em;
  border: 1px solid white;
}

input[type=checkbox] {
  width: 1em;
  height: 1em;
  margin-left: 0;
}

button, input[type=submit] {
  background-color: hsl(19deg, 100%, 50%);
  background-image: linear-gradient(transparent 0%, hsl(19deg, 100%, 60%) 50%, transparent 100%);
  padding: 0.5em 2em;
  border-radius: 1em;
  border-color: white;
  color: white;
  font-size: 0.9em;
  user-select: none;
}

button:active, input[type=submit]:active {
  background-color: hsl(19deg, 100%, 44%);
}